<h1>Задачи</h1>
<h2>Семья</h2>
<ul>
<li><%= @db1.text %></li>
<li><%= @db2.text %></li>
<li><%= @db3.text %></li>
<li><%= @db4.text %></li>
<li><%= @db5.text %></li>
</ul>
<h2>Работа</h2>
<ul>
<li><%= @db6.text %></li>
<li><%= @db7.text %></li>
<li><%= @db8.text %></li>
</ul>
<h2>Прочее</h2>
<ul>
<li><%= @db9.text %></li>
<li><%= @db10.text %></li>
</ul>